:root {
  --pri: #f2eae0;
  --sec: #b4d3d9;
  --tri1: #bda6ce;
  --tri2: #9b8ec7;
  --red: #ff0000;
  --green: rgb(43, 239, 141);
  --blue: rgb(64, 204, 255);
}

@font-face {
  font-family: aeonik;
  font-weight: 200;
  src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: aeonik;
  font-weight: 500;
  src: url(./AeonikTRIAL-Regular.otf);
}
@font-face {
  font-family: aeonik;
  font-weight: 700;
  src: url(./AeonikTRIAL-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: aeonik;
  box-sizing: border-box;
}
html,
body {
  height: 105%;
  width: 100%;
}
#main {
  min-height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  background-color: var(--sec);
  padding-top: 100px;
}
section.allElems {
  width: 100%;
  height: 100%;
  padding: 30px;
  overflow: auto;
  position: absolute;
}
.allElems .allFeatures {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
}
.allElems header {
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1529528744093-6f8abeee511d?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position-y: 77%;
  margin-bottom: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}
.allElems .header1 h1 {
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 45px;
}
.allElems .header1 h2 {
  font-size: 30px;
  font-weight: 700;
}
.allElems .header1 h4 {
  font-size: 70px;
  font-weight: 500;
}
.allElems .header2 h2 {
  font-size: 60px;
  font-weight: 700;
}
.allElems .header2 h4 {
  font-size: 50px;
  margin-top: -10px;
  font-weight: 500;
  margin-bottom: 30px;
}
.allElems .header2 h3 {
  font-size: 20px;
  opacity: 0.8;
  font-weight: 500;
}
.elems {
  position: relative;
  /* background-color: #9B8EC7; */
  /* padding: 30px 40px ; */
  height: 370px;
  width: 288px;
  font-size: 30px;
  border-radius: 10px;
  overflow: hidden;
  transition: all ease 0.2s;
  cursor: pointer;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.elems img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.elems h2 {
  position: absolute;
  bottom: 4%;
  font-weight: 500px;
  font-size: 35px;
  right: 5%;
}
.elems:active {
  scale: 0.97;
}
.fullelem {
  height: 100%;
  width: 100%;
  background-color: var(--sec);
  padding: 40px;
  display: none;
  position: absolute;
}
.back {
  position: absolute;
  right: 5%;
  background-color: #9b8ec7;
  border-radius: 10px;
  padding: 15px 22px;
  border: none;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
}
.back:active {
  scale: 0.97;
}
.todo-list-fullpage h2 {
  font-size: 40px;
  color: var(--tri2);
}
.todo-list-fullpage .todo-container {
  height: 80%;
  width: 100%;
  /* background-color: var(--tri2); */
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-list-fullpage .todo-container .addTask {
  width: 33%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 20px;
}
.todo-list-fullpage .todo-container .allTask {
  width: 65%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 20px;
}
.todo-list-fullpage .todo-container .addTask form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}
.todo-container .addTask form #task-input {
  padding: 15px 25px;
  width: 100%;
  font-size: 28px;
  background-color: var(--tri1);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
}
.todo-container .addTask form textarea {
  padding: 15px 25px;
  width: 100%;
  font-size: 28px;
  background-color: var(--tri1);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
}
.todo-container .addTask form button {
  padding: 15px 25px;
  width: 100%;
  font-size: 28px;
  background-color: var(--tri1);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  transition: all ease 0.3s;
  color: gray;
}
.todo-container .addTask form button:active {
  scale: 0.96;
}
.todo-list-fullpage .todo-container .allTask {
  width: 65%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  overflow: auto;
}
.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--tri1);
  padding: 20px 30px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.task h5 {
  color: var(--pri);
  font-size: 30px;
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
.task h5 span {
  color: var(--pri);
  background-color: red;
  padding: 4px 8px;
  border-radius: 50px;
  font-size: 11px;
}
.task h5 span.true {
  opacity: 1;
}
.task h5 span.false {
  opacity: 0;
}
.task button {
  padding: 15px 30px;
  color: var(--pri);
  background-color: green;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
}
.task button:active {
  scale: 0.96;
}
.mark-imp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 10px;
  margin-bottom: 20px;
  gap: 30px;
}
.mark-imp input {
  scale: 1.7;
}
.mark-imp label {
  font-size: 21px;
}
.daily-planner-fullpage {
  /* display: block; */
}
.daily-planner-fullpage h2 {
  font-size: 60px;
}
.daily-planner-fullpage .day-planner {
  background-color: var(--tri2);
  height: 85%;
  margin-top: 40px;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  overflow: auto;
}
.daily-planner-fullpage .day-planner .day-planner-time {
  display: flex;
  align-items: center;
  position: relative;
  width: 49%;
  margin-bottom: 15px;
}
.day-planner .day-planner-time p {
  position: absolute;
  top: 12%;
  left: 2%;
  font-size: 20px;
  color: var(--pri);
}
.day-planner .day-planner-time input {
  padding: 20px 45px;
  width: 100%;
  background-color: var(--tri1);
  border-radius: 5px;
  border: none;
  font-size: 35px;
  padding-top: 34px;
  outline: none;
  color: var(--pri);
}
.motivation-fullPage-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Motivational-fullpage .motivational-container {
  height: 600px;
  width: 80%;
  border-radius: 50px;
  position: relative;
}
.Motivational-fullpage .motivational-container::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--tri1);
  border-radius: 50px;
  scale: 1.15;
  filter: blur(40px);
  z-index: 8;
}
.Motivational-fullpage .motivational-container .motivational-wrapper {
  z-index: 10;
  position: absolute;
  width: 100%;
  background-color: var(--tri2);
  padding: 20px;
  border-radius: 30px;
  border: 6px solid var(--pri);
}
.motivation-1 {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.motivation-1 h2 {
  padding: 30px;
  background-color: var(--tri1);
  color: var(--pri);
  border-radius: 20px;
  font-size: 40px;
  font-weight: 500;
  text-align: right;
  width: fit-content;
}
.motivation-2 {
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.motivation-2 h1 {
  font-size: 50px;
  font-weight: 700;
  color: var(--pri);
}
.motivation-3 {
  margin-bottom: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.motivation-3 h2 {
  padding: 30px;
  color: var(--pri);
  background-color: var(--tri1);
  border-radius: 20px;
  font-size: 40px;
  font-weight: 500;
  text-align: right;
  width: fit-content;
}
.Motivational-fullpage .motivational-container .motivational-wrapper img {
  position: absolute;
  right: 10%;
  top: 15%;
  opacity: 0.7;
  scale: 2.5;
}
.pomodoro-fullpage {
  font-size: 40px;
}
.pomodoro-fullpage .pomo-timer {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.pomo-timer h1 {
  font-size: 170px;
}
.pomo-timer button {
  background-color: var(--tri2);
  padding: 15px 40px;
  font-size: 32px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 0px black;
  transition: all ease 0.1s;
  font-weight: 700;
}
.pomo-timer button:active {
  scale: 0.95;
  box-shadow: 0px 0px 0px black;
}
.pomodoro-fullpage .session {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--green);
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 30px;
}
nav {
  position: fixed;
  z-index: 99;
  height: 60px;
  width: 100%;
  margin-bottom: 30px;
  padding: 30px 40px;
  top: 0;
}
.nav-in {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--tri1);
  padding: 20px 40px;
  border-radius: 10px;
}
.nav-in h2 {
  font-size: 30px;
  font-weight: 700;
}
.theme {
  background-color: var(--pri);
  padding: 10px 10px;
  border-radius: 50%;
}
.theme i {
  color: var(--tri2);
  font-weight: 700;
  font-size: 25px;
}
.theme:active {
  scale: 0.96;
}
